.AppSearch {
  width: 200px;
  position: relative;
  order: 2;

  input {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 40px 5px 8px;
    width: 100%;
    outline: none;
  }

  .searchIcon {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;
    color: #4269ea;
    cursor: pointer;
  }

  .resetSearchIcon {
    position: absolute;
    top: 5px;
    right: 35px;
    z-index: 100;
    color: #999;
    cursor: pointer;
  }
}
