.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
.AppHeader {
  background: #4269ea;
  padding: 10px;
  display: flex;

  .AppLogo {
    color: yellow;
    width: 100px;
    a {
      color: yellow;
    }
  }

  .AppSearchCart {
    align-items: flex-end;
    width: 900px;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
  }
}
